html, body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-align: center;
   height: 100%;
   user-select: none;
   min-width:700px;
}
 @font-face {
   font-family: "Roboto";
   src: url("Roboto-Medium.ttf");
}
@font-face {
   font-family: "Gugi";
   src: url("Gugi-Regular.ttf");
}
@font-face {
   font-family: "Libre";
   src: url("LibreBarcode39ExtendedText-Regular.ttf");
}
@font-face {
   font-family: "Tomorrow";
   src: url("Tomorrow-LightItalic.ttf");
}
 * {
   font-family: "Roboto";
   font-size: 96%;
   -webkit-user-drag: none;
}
 .hidden {
   visibility: hidden;
}
 button {
   outline-width: 0;
}
 .loader-grid {
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: 100%;
   position: fixed;
   width: 100%;
   height: 100%;
   align-items: center;
   z-index: 11;
}
 .loader-bg {
   position: fixed;
   background-color: black;
   opacity: 0.5;
   width: 100%;
   height: 100%;
   z-index: 10;
}
 .spacer {
   display: block;
   margin: 15px;
}
 #loader img {
   box-shadow: 0px 0px 20px 5px white;
   border-radius: 10px;
   filter: hue-rotate(165deg);
   user-select: none;
   -webkit-user-drag: none;
}
 .bar-holder {
   width: 190px;
   background-color: purple;
   margin: 15px auto;
}
 #progressbar {
   width: 0px;
   border: 1px solid #00ffd0;
   max-width: 100%;
}
 #loading-text-box {
   color: white;
   display: inline-block;
   background-color: black;
   padding: 0 7px;
}
#loading-text {
   padding: 3px;
}
#loading-counter {
   font-size: 8px;
   color: #666;
}
#loader #rfAbort {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 11px 13px;
  margin: 10px;
  background-color: crimson;
  color: black;
}
.selected-tab {
   background-color: black;
}
 .navLink > button {
   /*background-color: #0FAF4C;*/
   background-color: lightseagreen;
   color: white;
}
/*a img:parent {
   background: none;
}
*/
/* ============= HEADER PAGE ============= */
 #header-page button {
   margin: 5px 5px;
   padding: 5px;
   opacity: 0.8;
   font-size: 120%;
}
 #header-page li {
   display: inline;
}
 #header-page h2 {
   text-align: center;
   color: #555;
   font-size: 200%;
  /* -webkit-text-stroke: 0.2px white;
   */
}
 #header-page nav {
   text-align: center;
  /*margin-bottom: 20px;
  */
   background-color: #eee;
   padding: 5px;
  /*margin-bottom: 10px;
  */
}
 #header-page a {
   text-decoration: none;
   color: black;
   cursor: default;
}
 #header-page {
  /*background-color: #289B7D;
  */
  /* border: 1px solid transparent;
   display: block;
  */
  /*padding-top: 1px;
  */
  /*position: relative;
  */
   margin-bottom: 10px;
}
 #header-page table {
   background-color: lightseagreen;
   width: 100%;
}
 #header-page > table {
  text-align: center;
   /*width: 1px;*/
   height: 100px;
}
 #header-page .logo {
    width: 120px;
    display: inline;
    float: left;
    margin: 15px;
    margin-top: 20px;
    opacity: 1;
}
 #header-page .automizer {
  font-family: "Libre";
  font-size: 50px;
  line-height: 0;
  float: right;
  margin-top: 45px;
  margin-right: 41px;
  color: white;
}
 #header-page .tagline {
    font-family: "Tomorrow";
    color: white;
    font-size: 14px;
    margin-right: 120px;
    margin-top: 4px;
    display: inline-block;
}
 #header-page hr {
  /* border-width: 2px;
   */
   margin: 0px;
}
/* ============= CONNECTION PAGE ============= */
 .noConnection {
  color: black;
  margin: 20% auto;
  display: inline-block;
  font-size: 150%;
  line-height: 2;
  background-color: indianred;
  padding: 5%;
 }
 #connection-page .radioContainer {
   width: 590px;
   text-align: center;
   margin: 0 auto;
 }
 #connection-page label {
   display: block;
   background-color: lightgrey;
   margin: 20px;
   padding: 10px;
  /* box-sizing: border-box;
   */
   border: 1px solid lightgray;
}
 #connection-page input[type="radio"]:checked + label {
   background-color: lightseagreen;
   color: white;
}
 #connection-page input[type="radio"]:hover + label {
   border: 1px solid darkgray;
}
 #connection-page input[type="radio"] {
   display: none;
}
/* ============= COMMAND PAGE ============= */
 #command-page main {
   text-align: center;
}
 #command-page button {
   padding: 7px 15px;
   margin: 5px;
}
 #command-page input {
   width: 455px;
   padding: 7px;
   margin: 5px;
}
 #command-page textarea {
   width: 540px;
   height: 180px;
   margin-top: 5px;
}
/* ============= AUTOTEST PAGE ============= */
 #autotest .barHolder {
  width: 100%;
  margin: 10px auto;
}
 #autotest .barHolder > tbody > tr > td {
  /*padding: 10px;*/
}
#autotest label input {
   width: 40px;
   height: 5px;
   border: 0;
   font-weight: bold;
  /* background-color: lightgrey;
   */
}
 #autotest label {
   border: 1px solid #f0f0f0;
   margin: 8px;
   padding: 2px 0px 2px 8px;
   display: inline-block;
}
 #autotest input {
   width: 300px;
   padding: 10px;
}
 #autotest span {
   font-weight: bold;
  /*text-align: left;
  */
}
 #autotest .divleft {
   width: 40%;
   display: inline-block;
   text-align: right;
}
 #autotest .divright {
   width: 50%;
   display: inline-block;
}
 #autotest #scanner {
  /*margin-top: 10px;
  */
   width: 100%;
   padding: 10px;
   text-align: center;
   font-size: 22px;
   color: black;
   display: inline-block;
   box-sizing: border-box;
   caret-color: white;
}
 #autotest #scanner::-webkit-input-placeholder {
   font-style: italic;
   font-size: 16px;
   color: #999;
   letter-spacing: 3px;
}
 #autotest .pause {
   width: 25px;
   text-align: center;
   font-size: 13px;
   font-weight: bold;
   color: #666;
   display: inline-block;
   height: 50px;
   padding: 0;
   margin: 0;
}
 #autotest .pause div {
   transform: rotate(270deg);
   padding: 0;
   margin: -7px;
}
 .autoTestCol1 {
   width: 0px;
}
 .autoTestCol2 {
   width: 100%;
}
 .autoTestCol3 {
   min-width: 190px;
   max-width: 190px;
}
 #data-table .fail {
   background-color: pink;
}
 #data-table .pass {
   background-color: lightgreen;
}
 #calibrationStatus {
   height: 20px;
   width: 12px;
   background-color: #0f0;
   padding: 0px 8px;
   box-shadow: 0px 0px 4px 1px #0f1;
   margin-top: 20px;
}
 #calibrationStatus td:first-child {
   text-align: right;
}
 #calibrationStatusON {
   background-color: lime;
   opacity: 0.2;
   width: 25px;
   display: inline-block;
   text-align: center;
}
 #calibrationStatusOFF {
   background-color: red;
   opacity: 0.2;
   width: 25px;
   display: inline-block;
   text-align: center;
}
 .calibrationStatusON {
   opacity: 1 !important;
   box-shadow: 0px 0px 3px 1px green;
}
 .calibrationStatusOFF {
   opacity: 1 !important;
   box-shadow: 0px 0px 3px 1px maroon;
}
 .infoTable {
   text-align: left;
   border: 1px solid lightgray;
   width: 100%;
   min-width: 180px;
   font-size: 12px;
}
 .infoTable span {
   margin: 0 5px;
}
 .infoTable td:nth-child(1) {
   text-align: left;
}
 .infoTable td:nth-child(2) {
   text-align: left;
}
/* ============= AUTOTEST TABLE PAGE ============= */
 #ScannerTable div {
  height: calc(100vh - 350px);
  width: 100%;
  overflow-y: scroll;
  font-size: 120%;
  margin-bottom: 30px auto;
  text-align: center;
  border: 0px groove;
}
 #ScannerTable table {
   width: 100%;
   border: 0;
}
 #ScannerTable table th {
   position: sticky;
   top: 0;
   background: #999;
   padding: 4px;
}
 #ScannerTable table button {
   border: 1px solid lightgray;
   width: 20px;
   height: 20px;
   font-size: 10px;
   padding: 0;
   margin: 0;
}
 #ScannerTable table button:hover {
   border: 1px solid black;
   background-color: red;
   color: black;
}
 #ScannerTable table tr:nth-child(even) {
   background-color: #f2f2f2;
}
 #ScannerTable table tr:hover {
   background-color: lightseagreen;
}
 #ScannerTable button {
   font-size: 130%;
}
 #ScannerTable #operatorName {
   height: 4px;
   margin-right: 8px;
   width: 200px;
   margin-top: 1px;
}
#ScannerTable .data-table-footer {
  position: fixed;
  bottom: 0;
  background-color: #EEE;
  margin: 0px;
  padding: 10px;
  border-top: 1px solid #AAA;
  font-size: 100%;
  height: 30px;
}
 @-o-keyframes fadeItGreen {
   0% {
     background-color: #fff;
  }
   50% {
     background-color: lightgreen;
  }
   100% {
     background-color: #fff;
  }
}
 @keyframes fadeItGreen {
   0% {
     background-color: #fff;
  }
   50% {
     background-color: lightgreen;
  }
   100% {
     background-color: #fff;
  }
}
 @-o-keyframes fadeItRed {
   0% {
     background-color: #fff;
  }
   50% {
     background-color: pink;
  }
   100% {
     background-color: #fff;
  }
}
 @keyframes fadeItRed {
   0% {
     background-color: #fff;
  }
   50% {
     background-color: pink;
  }
   100% {
     background-color: #fff;
  }
}
 .backgroundAnimatedGreen {
   background-image: none !important;
   -o-animation: fadeItGreen 2s ease-in-out infinite normal;
   animation: fadeItGreen 2s ease-in-out infinite normal;
}
 .backgroundAnimatedRed {
   background-image: none !important;
   -o-animation: fadeItRed 2s ease-in-out infinite normal;
   animation: fadeItRed 2s ease-in-out infinite normal;
}
 .backgroundAnimatedOrange {
   background-color: #fddb9d;
}
/* ============= PIM PAGE ============= */
 #pim-page .grid {
   display: grid;
   grid-template-columns: 68% 30%;
   column-gap: 10px;
}
 #pim-page .grid button {
   display: inline-block;
   width: 95%;
}
 #pim-page .grid button.active_measurement {
   background-color: lightseagreen;
   color: white;
}
 #pim-page .grid .btnPower {
   width: 80%;
}
 #pim-page .grid .btnOrder {
   width: 29%;
}
 #pim-page .grid .orderFreq {
   display: grid;
   grid-template-columns: 1fr 1fr;
}
 #pim-page .grid .orderFreq div {
   text-align: center;
   padding: 10px 0;
}
 #pim-page > div > div {
   border: 1px solid #cecece;
   text-align: center;
}
 #pim-page label input {
  /* width: 40px;
   height: 5px;
   border: 0;
   font-weight: bold;
  */
  /* background-color: lightgrey;
   */
   float: right;
}
 #pim-page label {
   border: 1px solid #f0f0f0;
   margin: 5px;
   padding: 5px;
   line-height: 2.4;
   display: block;
}
 #pim-page main {
   text-align: center;
}
 #pim-page div {
   width: 100%;
   margin: 0 auto;
   text-align: left;
}
 #pim-page button {
   padding: 7px 15px;
   margin: 5px;
   width: 80%;
   display: inline-block;
}
 #pim-page input {
   width: 80px;
   padding-left: 5px;
   font-size: 150%;
   display: inline-block;
   text-align: center;
}
 #pim-page textarea {
   width: 90%;
   height: 200px;
   margin-top: 5px;
}
/* ============= CALIBRATION PAGE ============= */
 #calibration-page h2 {
   color: red;
   text-align: center;
  /*border: 1px solid black;
  */
   background-color: #333;
   padding: 5px;
   margin: 5px 5px;
   margin-top: 20px;
}
 #calibration-page button {
   padding: 10px 40px;
   font-size: 16px;
   margin: 10px;
}
 #calibration-page button:nth-child(3) {
   background-color: red;
}
 #calibration-page h2 + p {
   margin: 5px 5px;
   padding: 4px;
}
 #calibration-page .grid {
   margin: 20px 5px 20px 5px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-column-gap: 10px;
}
 #calibration-page .grid div {
   border: 1px solid #999;
   text-align: center;
}
 #calibration-page .grid div img {
   width: 90%;
}
 #calibration-page .grid div p {
   text-align: center;
   background-color: lightyellow;
   font-weight: bold;
   padding: 5px 0px;
}
 #calibration-page .grid-part2 {
   margin: 20px 5px 20px 5px;
   display: grid;
   grid-template-columns: 20% 60% 20%;
   grid-column-gap: 10px;
}
 #calibration-page .grid-part2 div {
   border: 1px solid #999;
   text-align: center;
}
 #calibration-page .grid-part2 div img {
   width: 50%;
}
 #calibration-page .grid-part2 div p {
   text-align: center;
   background-color: lightyellow;
   font-weight: bold;
   padding: 5px 0px;
}
 #calibration-page .grid-part2 .hide {
   visibility: hidden;
}
 #calibration-page #tab1 {
   display: block;
} #calibration-page #tab2 {
   display: none;
}
 .dropdown {
   display: inline-block;
   float: right;
   margin-top: 3px;
}
 .dropbtn > img {
   opacity: 0.4;
}
 .dropdown-content {
   display: none;
   position: absolute;
   top: 0;
   right: 0;
  /*background-color: red;
  */
  /*border: 3px solid maroon;
  */
   box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.50);
   z-index: 1;
}
 .dropdown:hover .dropdown-content {
   display: block;
}
 #remotePad {
   width: 200px !important;
   padding-bottom: 20px;
   background-color: lightseagreen !important;
}
 #remotePad .keypad {
   border: 0;
   width: auto;
}
 #remotePad .keypad_row {
   border: 0;
   padding: 0;
}
 #remotePad .keypad_button {
   min-height: 40px;
   width: 50px;
   font-size: 9pt;
   margin: 1px;
   opacity: 0.8;
}
 #remotePad .keypad_separator {
   height: 20px;
}
 .rf-flasher {
   font-size: 300%;
   font-weight: bold;
  /*padding: 30px;
  */
   color: red;
   animation: blinkingText 1s infinite;
}
 @keyframes blinkingText {
   0% {
     color: white;
  }
   50% {
     color: red;
  }
   100% {
     color: white;
  }
}
 